* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	max-width: 1200px;
	margin: 20px auto;
}
.add-product {
	margin-bottom: 30px;
}
button {
	background: #004DFF;
	border-radius: 5px;
	padding: 10px;
	border: none;
	color: white;
	font-weight: bold;
	cursor: pointer;
	height: 40px;
}

button:active {
	transition: .2s;
	scale: 0.9;
}

form {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	gap: 10px;
}
form div {
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-weight: bold;
}

form input {
	padding: 12px;
	border-radius: 5px;
	height: 40px;
	border: 2px solid #E1EAF1;
	font-weight: bold;
	outline: none;
}

.box {
	display: flex;
	flex-wrap: wrap;
	gap: 10px 20px;
	margin-top: 25px;
}

.box-item {
	width: 224px;
	overflow: hidden;
	border-radius: 10px;
	border: 2px solid #E1EAF1;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 15px;
}
.box-item h3 {
	font-weight: bold;
	font-size: 20px;
}
.box-item span {
	font-weight: bold;
	color: #004DFF;
	font-size: 13px;
}
.menu {
	position: fixed;
	top: 0;
	right: 0;
	background: #000;
	width: 400px;
	height: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	gap: 5px;
	overflow: hidden;
}
.open {
	animation: open .5s ease;
	display: flex;
}
.close {
	animation: close .5s ease;
}
@keyframes open {
	from {
		width: 0;
	}
	to {
		width: 400px;
	}
}
@keyframes close {
	from {
		width: 400px;
	}
	to {
		width: 0;
	}
}

.menu input {
	padding: 12px;
	border-radius: 5px;
	height: 40px;
	border: 2px solid #E1EAF1;
	width: 300px;
	font-weight: bold;
	outline: none;
}
.menu div {
	font-weight: bold;
	display: flex;
	flex-direction: column;
	gap: 7px;
	color: white;
	margin-bottom: 14px;
}

.menu button {
	width: 300px;
}
.menu button:last-child {
	background: none;
	border: 1px solid white;
}
